* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    font-family: 'Quicksand', sans-serif;
}

ul, li {
    list-style: none;
}

/* Header section */
.header-container {
    display: flex;
    justify-content: center;
}

.header-logo {
    width: 100%;
    height: 144px;
    padding: 20px 0;
    object-fit: contain;
    background: #b21c25;
}

/* Main section */
.main {
    padding-bottom: 40px;
    background-color: #FFF8E7 ;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 300px;
}

.main-logo {
    width: 50px;
    height: 50px;
    margin-top: 60px;
}

.main-title {
    font-size: 50px;
    color: #2d2828;
    text-transform: capitalize;
    padding: 15px 0 15px 0;
}

.row {
    width: 100%;
}

.person-list {
    position: relative;
    color: #fff;
}

.person {
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 18px;
    background-color: #2d3e50;
}

.avatar {
    object-fit: cover;
    width: 100px;
    height: 63px;
}

.nickname {
    flex: 1;
    padding-left: 30px;
    font-size: 30px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    width: 90px;
    height: 63px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: 0.3s ease;
    background-color: #dc3546;
}

.score:hover {
    cursor: pointer;
    background-color: #bb3b48;
}

.point-btn {
    display: flex;
    position: absolute;
    right: -147px;
    color: #fff;
}

.point-add {
    display: none;
    position: relative;
    opacity: 0;
    background-color: #4CAF50;
}

.add-section {
    display: none;
    position: absolute;
    top: 63px;
    right: 70px;
    font-size: 28px;
}

.add-value {
    display: flex;
    background-color: #3dc259;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 75px;
    cursor: pointer;
}

.subtract-section {
    display: none;
    position: absolute;
    top: 63px;
    right: 0;
    font-size: 28px;
}

.subtract-value {
    display: flex;
    background-color: #b21c25;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 75px;
    cursor: pointer;
}

.point-add:hover {
    background-color: #45a049;
}

.point-subtract {
    display: none;
    opacity: 0;
    background-color: #F44336;
}

.point-subtract:hover {
    background-color: #d32f2f;
}

.point-add, .point-subtract {
    transition: 0.3s ease;
    font-size: 28px;
    padding: 14px 30px;
    cursor: pointer;
}

/* Footer section */
.footer {
    display: flex;
    justify-content: center;
    background: #e9063c;
    padding: 30px 0;
}

.footer-content-first {
    display: flex;
    justify-content: center;
}

.footer-content {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}